.Common {
  width: 100%;
  height: 60%;
  background: url("./CardImage/page-title.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.AboutHead {
  align-items: center;
  padding: 170px 350px;
}
.AboutHead h1 {
  color: #061a3a;
  font-size: 50px;
  font-weight: 700;
}
.AboutLink {
  display: flex;
  font-size: 25px;
}
.AboutLink a {
  color: #172746;
}
.AboutLink a:hover {
  color: #27d160;
}
.AboutLink li {
  color: #27d160;
}
.AboutSection {
  margin-top: 100px;
  margin-bottom: 50px;
}
.About_Banner img {
  width: 100%;
  height: 800px;
}
.AboutRow p {
  margin-top: 20px;
}
.AboutRow p a {
  color: #27d160;
  font-size: 14px;
  font-weight: 500;
}
.AboutText h2 {
  color: #061a3a;
  font-size: 32px;
  margin-bottom: 15px;
}
.AboutText h6 {
  color: #172746;
  font-size: 15px;
  margin-bottom: 10px;
}
.AboutText p {
  color: #808080;
  font-size: 15px;
  line-height: 30px;
}
.blockQuote {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  height: 140px;
}
.blockQuote {
  display: flex;
  align-items: center;
}
.blockQuote i {
  margin-top: 50px;
  margin-left: 50px;
  font-size: 40px;
}
.blockQuote h2 {
  color: #061a3a;
  font-size: 18px;
}
.aboutpara {
  color: #808080;
  font-size: 15px;
  line-height: 30px;
}
.secondText {
  margin: 70px 0;
}
.secondText p {
  color: #808080;
  font-size: 15px;
  line-height: 25px;
}
.secondText h6 {
  color: #808080;
  font-size: 15px;
}
.MediaIcons {
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
}
.MediaIcons span {
  font-size: 22px;
  color: #061a3a;
  display: flex;
}
.MediaIcons a {
  color: #808080;
}
.MediaIcons i {
  margin-top: 10px;
  font-size: 20px;
}
.MediaIcons i:hover {
  color: #27d160;
}
.CommentRow {
  margin-top: 100px;
}
.Policy {
  margin: 150px 0;
}
.PolicyHeading h2 {
  margin-top: 40px;
  color: #061a3a;
  font-size: 22px;
}
.PolicyHeading p {
  margin-bottom: 10px;
  line-height: 30px;
  color: #808080;
  font-size: 13px;
}
.PolicyHeading span {
  font-weight: bold;
}
.shopCard {
  margin: 50px 0;
}
.ContactImags img {
  width: 550px;
  height: 500px;
}
.Founders {
  margin: 50px 0;
}
.Founders h1 {
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  margin-bottom: 15px;
}
.Founders h5 {
  font-size: 20px;
  color: #172746;
  text-align: center;
}
.Founders p {
  font-weight: 600;
  font-size: 15px;
  color: blue;
  text-align: center;
}

@media (max-width: 980px) {
  .Common {
    overflow: hidden;
    width: 100%;
  }
  .AboutHead {
    text-align: center;
    display: inline;
  }
  .blockQuote {
    margin-left: 40px;
    height: 220px;
    display: inline;
    width: 70%;
    /* width: 280px; */
  }
  .blockQuote h2 {
    margin: 20px 15px;
  }

  .Founders img {
    width: 100%;
  }
  .Founders h5 p {
    text-align: center;
  }
  .About_Banner img {
    width: 100%;
  }
  .secondText {
    text-align: center;
  }

  .Contact iframe {
    width: 100%;
    height: 350px;
  }
  .Contact {
    margin-left: 30px;
  }
  .shopCard {
    width: 100%;
    gap: 100px;
  }

  .ContactImags img {
    width: 100%;
    margin-top: 30px;
    margin-left: -20px;
    /* width: 200px; */
    height: 200px;
  }
}
